<!-- one message -->
<main role="main" class="container mt-5">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">{{post[0].name}}</h6>
    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="https://www.w3schools.com/w3images/avatar{{post[0].avatar}}.png" data-holder-rendered="true">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">{{post[0].email}}</strong>
        <strong></strong><br>
        {{post[0].body}}
      </p>
    </div>
  </div>

</main>
